<a href="https://colab.research.google.com/github/annLiu310/python-basic/blob/master/07_Pandas_Series_and_data_frame.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


# Series

The first main data type we will learn about for pandas is the Series data type. Let's import Pandas and explore the Series object.

A Series is very similar to a NumPy array (in fact it is built on top of the NumPy array object). 

What differentiates the NumPy array from a Series, is that a Series can have axis labels, meaning it can be indexed by a label, instead of just a number location. It also doesn't need to hold numeric data, it can hold any arbitrary Python Object.

Let's explore this concept through some examples:

In [0]:
import numpy as np
import pandas as pd

### Creating a Series

convert a list,numpy array, or dictionary to a Series:

In [0]:
labels = ['a','b','c']
my_list = [10,20,30]

#numpy array
arr = np.array([10,20,30])

#dic
d = {'a':10,'b':20,'c':30}

** Using Lists**

In [14]:
pd.Series(data=labels)
pd.Series(data=my_list)

0    10
1    20
2    30
dtype: int64

In [6]:
# init series from two list
pd.Series(data=my_list,index=labels)

a    10
b    20
c    30
dtype: int64

In [9]:
#quick init
pd.Series(my_list,labels)

a    10
b    20
c    30
dtype: int64

In [13]:
pd.Series(arr)
pd.Series(arr, labels)

a    10
b    20
c    30
dtype: int64

In [11]:
# pass dic, use key as index
pd.Series(d)

a    10
b    20
c    30
dtype: int64

### Data in a Series

A pandas Series can hold a variety of object types:

In [16]:
pd.Series(labels)

0    a
1    b
2    c
dtype: object

In [17]:
# Even functions (never use it...)
pd.Series([sum,print,len])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

In [23]:
ser1 = pd.Series([1,2,3,4],index = ['USA', 'Germany','USSR', 'Japan']) 
ser1

USA        1
Germany    2
USSR       3
Japan      4
dtype: int64

In [26]:
ser2 = pd.Series([1,2,5,4],index = ['USA', 'Germany','Italy', 'Japan']) 
ser2

USA        1
Germany    2
Italy      5
Japan      4
dtype: int64

In [27]:
ser1['USA']

1

Operations are then also done based off of index:

In [28]:
ser1 + ser2

Germany    4.0
Italy      NaN
Japan      8.0
USA        2.0
USSR       NaN
dtype: float64